<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Books</h1>
    <table border="1">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Year</th>
                <th>Available</th>
                <th>Category ID</th>
                <th>Author ID</th>
            </tr>
        </thead>
        <tbody>
            {% block content %}
            {% for book in books %}
                <tr>
                    <td>{{ book.id }}</td>
                    <td>{{ book.nameBook }}</td>
                    <td>{{ book.yearBook }}</td>
                    <td>{{ book.availableBook }}</td>
                    <td>{{ book.category_id }}</td>
                    <td>{{ book.author_id }}</td>
                </tr>
            {% endfor %}
            {% endblock %}
        </tbody>
    </table>    
</body>
</html>