<!DOCTYPE html>
<html>
<head>
    <title>WebPython. FastAPI example #2</title>
    <meta charset="utf-8" />
</head>
<body>
    <div id="message"></div>
    <p>
        Input name: <br />
        <input name="username" id="username" />
    </p>
    <p>
        Input age: <br />
        <input name="userage" id="userage" type="number" />
    </p>
    <button onclick="send()">Send</button>

<script>
    async function send(){

        // отримуємо введені в поле ім'я та вік
        const username = document.getElementById("username").value;
        const userage = document.getElementById("userage").value;
        
        // надсилаємо запит
        const response = await fetch("/hello", {
        method: "POST",
        headers: { "Accept": "application/json", "Content-Type":
        "application/json" },

        body: JSON.stringify({
        name: username,
        age: userage
            })
        });
        if (response.ok) {
            const data = await response.json();
            document.getElementById("message").textContent = data.message;
        }
        else
            console.log(response);
        }
</script>
</body>
</html>